.landingpage-bg-img {
  background-image: url("../../assets/img/marsplanet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-shadow: black 5px 5px;
}

.center-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.hero-title {
  font-size: 6rem;
  padding-top: 5rem;
}

.carousel-container {
  max-width: 50%;
  max-height: 50%;
}
