.marketing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
}

.gridContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageSection {
  border-radius: 50%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .marketing-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
