.cardStyles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
}

.perantContainer {
  padding: 3rem;
}

.imageStyles {
  width: 100%;
  float: left;
}

.cardBody {
  float: right;
}

.cardBtn {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .cardStyles {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }

  .perantContainer {
    padding: 1rem;
  }
}
