.perantContainer {
  padding: 4rem 2rem;
}

.pageBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0.5rem;
}

.cardStyles {
  margin: 1rem;
}

/* .perantContainer :hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
} */

/* medium devices */

@media (max-width: 1024px) {
  .pageBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
  }
}

/* Mobile styles */

@media (max-width: 640px) {
  .pageBody {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5rem;
  }
}

/* Make sure the card body is flex and the buttons are at the bottom of the card body. This will ensure that the buttons are always at the bottom of the card, regardless of the content above it. */
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBtns {
  display: flex;
  justify-content: space-between;
}

/* Id page */

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
}
