.p-order-page-container {
  padding: 5rem;
  height: 100vh;
  background-image: url("../../../assets/img/new-guitar.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pre-order-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 700px;
  box-shadow: 50px 0px 80px 5px;
  padding: 1rem;
  background-color: #fafafade;
}

.pre-order-nav {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
}

.nav-options-order-page {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.8rem;
  flex-direction: row;
}

.pre-ord-image {
  background-image: url("../../../assets/img/new-guitar.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pre-order-detail-section {
  padding: 2rem;
}

.pre-order-detail-section > h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 2rem;
}

.pre-order-detail-section > ul > li {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.pre-order-detail-section > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pre-order-detail-section > div > span {
  padding: 8px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.236);
  font-size: 2rem;
  font-weight: 200;
  border-radius: 15px;
}

.pre-order-detail-section > button {
  display: flex;
  justify-self: end;
  border: none;
  padding: 1rem;
  margin-top: 4rem;
  background-color: rgba(172, 255, 47, 0.543);
  border-radius: 15px;
}
