.hoofHouer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 500px;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background-color: rgba(127, 255, 212, 0.498);
}

.cardContainer1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px repeat(4, 40px) 1fr;
  background-color: rgba(233, 107, 216, 0.418);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 50px;
  justify-items: center;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.cardContainer1:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.05);
}

.cardContainer2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px repeat(4, 40px) 1fr;
  background-color: rgba(36, 229, 213, 0.418);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 50px;
  justify-items: center;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: transform 0.3s ease;
}
.cardContainer2:hover {
  transform: scale(1.05);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardContainer3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px repeat(4, 40px) 1fr;
  background-color: rgba(63, 165, 42, 0.418);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 50px;
  justify-items: center;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: transform 0.3s ease;
}

.cardContainer3:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.05);
}

.cardHeader {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px;
  border-radius: 15px;
  /* background-color: rgba(224, 232, 229, 0.551); */
  border: rgb(169, 166, 166) solid 1px;
  justify-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cardPricingText {
  font-weight: 300;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cardDecriptionText {
  font-weight: 200;
  font-size: 1rem;
  color: black;
}

.imageStyl {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 50px;

  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
}

@media (max-width: 600px) {
  .hoofHouer {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 500px);
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
