.page-bg {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url("./assets/img/checkoutplant.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-bg {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  max-width: 500px;
}

.headertext {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .right-side-card {
  background-image: url("./assets/img/checkout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
} */

.inputs {
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: none;
  border-radius: 4px;
  margin-bottom: 3px;
}

.buttons {
  border-radius: 12px;
  padding: 10px;
  background-color: black;
  color: white;
}

.summary-p-img {
  border-radius: 30%;
}
