.full-screen-img {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carouselContainer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 90%;
  max-width: 800px;
  overflow-x: auto;
  padding: 10px;
  border: none;
  background: none;

  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carouselImage {
  flex-shrink: 0;
  height: 120px;
  width: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;

  background: transparent;
  border: none;
}
