.navbar-style-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  background: yellowgreen;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  padding-left: 0.5rem;
}

.nav-search-bar-bp {
  border: none;
  border-radius: 15px;
  padding: 0.3rem;
}

.booking-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 5px;
}

/* ----------Body---------- */
.booking-page-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.booking-page-hero-body {
  display: grid;
  width: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr;
}

.bp-hero-image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-bottom: greenyellow solid 1px;
}

.b-page-input-styles {
  border: none;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: rgba(172, 255, 47, 0.36);
  border-radius: 20px;
}

.bp-btn {
  border: none;
  padding: 1rem;
  background-color: greenyellow;
  margin: 0.5rem;
  border-radius: 15px;
}

.bp-hero-image-section > label {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-info-section {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: auto;
  gap: 15;
  margin-top: 1rem;
}

.bp-map-section {
  background-image: url("../../../assets/img/bookingmap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: span 1;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  padding: 1rem;
  color: rgb(252, 252, 251);
  font-weight: 800;
}

.first-row-title {
  grid-column: span 3;
}

.sort-menu {
  display: flex;
  flex-direction: column;
  grid-row: span 3;
}

.pensioners-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-left: greenyellow solid 8px;
  border-radius: 20px;
}

.pensioners-section > span {
  margin-left: 0.5rem;
}

.pensioners-section > span > input {
  margin-right: 0.5rem;
}

.sort-menu > h4 {
  border-bottom: greenyellow solid 1px;
}

.sort-menu > label > input {
  margin: 1rem;
}

.first-bp-image {
  background-image: url("../../../assets/img/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.first-bp-image2 {
  background-image: url("../../../assets/img/room2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.first-bp-image3 {
  background-image: url("../../../assets/img/room1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.first-bp-image4 {
  background-image: url("../../../assets/img/room3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.detail-section-of-bnb {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 50px 40px auto auto 50px;
}

.detail-section-of-bnb > p {
  text-decoration: line-through;
}

.detail-section-of-bnb > span {
  color: rgba(0, 0, 0, 0.488);
}

.check-list {
  grid-row: span 3;
  color: rgba(0, 0, 0, 0.488);
}

.badge-style {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  margin: 0.5rem;
  background-color: rgba(172, 255, 47, 0.323);
}

.detail-section-of-bnb > button {
  border: none;
  margin: 0.5rem;
  background-color: greenyellow;
  border-radius: 15px;
}

.view-on-desktop {
  display: none;
}

@media (max-width: 600px) {
  /* ----------Body---------- */

  .booking-page-hero-body {
    display: none;
  }

  .bp-hero-image-section {
    display: none;
  }

  .b-page-input-styles {
    display: none;
  }

  .bp-btn {
    display: none;
  }

  .bp-hero-image-section > label {
    display: none;
  }

  .page-info-section {
    display: none;
  }

  .bp-map-section {
    display: none;
  }

  .first-row-title {
    display: none;
  }

  .sort-menu {
    display: none;
  }

  .pensioners-section {
    display: none;
  }

  .pensioners-section > span {
    display: none;
  }

  .pensioners-section > span > input {
    display: none;
  }

  .sort-menu > h4 {
    display: none;
  }

  .sort-menu > label > input {
    display: none;
  }

  .first-bp-image {
    display: none;
  }

  .first-bp-image2 {
    display: none;
  }

  .first-bp-image3 {
    display: none;
  }

  .first-bp-image4 {
    display: none;
  }

  .detail-section-of-bnb {
    display: none;
  }

  .detail-section-of-bnb > p {
    display: none;
  }

  .detail-section-of-bnb > span {
    display: none;
  }

  .check-list {
    display: none;
  }

  .badge-style {
    display: none;
  }

  .detail-section-of-bnb > button {
    display: none;
  }

  .view-on-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
  }
}
